################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iKudo/src/iKudo.Clients.Web/karmaTests
/iKudo/src/iKudo.Domain/Migrations
