################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iKudo/src/iKudo.Clients.Web/karmaTests
/iKudo/src/iKudo.Clients.Web/Logs
/iKudo/src/iKudo.Clients.Web/wwwroot/upload/kudoImages
/Kudo.git
/iKudo.rar
