<template bindable="router">
    <require from="../../resources/converters/dateTimeFormat"></require>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../../../../wwwroot/img/ikudologo.png" alt="kudo logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li repeat.for="item of router.navigation" class="${item.isActive ? 'active' : ''}">
                    <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="item.href"
                       i18n.bind="item.title"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button click.delegate="login()" if.bind="!isAuthenticated" id="login_btn" class="btn btn-success pull-right" i18n="menu.login"></button>
                </li>
                <li>
                    <div if.bind="isAuthenticated" class="pull-right">
                        <a id="notification_container" class="js-notification-globe" aubs-popover="custom-popover.bind: customPopover;
                                                                                          position.bind: 'bottom';
                                                                                          trigger.bind: 'click';
                                                                                          on-toggle.call:toggled(open);
                                                                                          is-open.bind:isNotificationPopoverOpen;">
                            <i class="glyphicon glyphicon-globe fa-lg"></i>
                            <span class="badge notification-badge bounceInDown">${notificationsNumber}</span>
                        </a>

                        <div ref="customPopover" class="notification-popover-wrapper">
                            <h3 class="popover-title" i18n="notifications.popover_title"></h3>
                            <div class="popover-content">
                                <div repeat.for="notification of notifications" id="item_${notification.id}" class="">
                                    <div class="popover-notification ${notification.isRead ? 'read-notification' : 'unread-notification'}">
                                        <span class="title">${notification.title}</span>
                                        <span class="date">${notification.creationDate | dateTimeFormat}</span>
                                        <p class="message">${notification.message}</p>
                                    </div>

                                </div>
                                <div if.bind="notifications.length === 0">
                                    <p class="text-center" i18n="notifications.no_items"></p>
                                    <p class="text-center" id="notification-history-link"><a href="#" i18n="notifications.history"></a></p>
                                </div>
                            </div>
                        </div>
                        
                        <img src.bind="userAvatar" class="user-avatar" alt="user avatar" />
                        <div class="btn-group" role="group">
                            <button type="button" class="btn dropdown-toggle flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="logged_as">
                                ${loggedUser}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a click.delegate="logout()" id="logout_btn" href="#" i18n="menu.logout">Wyloguj</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="btn-group" role="group" id="lang_select_container">
                        <button type="button" class="btn dropdown-toggle flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="logged_as">
                            <span i18n="menu.language_short"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li click.delegate="changeLanguage('pl')"><a href="#">Polski</a></li>
                            <li click.delegate="changeLanguage('en')"><a href="#">English</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</template>
