<template bindable="router">
    <nav if.bind="showNavbar" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../../../../wwwroot/img/ikudologo.png" alt="kudo logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li repeat.for="item of router.navigation" class="${item.isActive ? 'active' : ''}">
                    <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="item.href"
                       i18n.bind="item.title"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button click.delegate="login()" if.bind="!isAuthenticated" id="login_btn" class="btn btn-success pull-right">Zaloguj</button>
                </li>
                <li>
                    <div if.bind="isAuthenticated" class="pull-right">
                        <a id="notification_container" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus">
                            <span class="glyphicon glyphicon-globe fa-lg"></span>
                            <span class="badge notification-badge bounceInDown">${notificationsNumber}</span>
                        </a>
                        <img src.bind="userAvatar" class="user-avatar" alt="user avatar" />
                        <div class="btn-group" role="group">
                            <button type="button" class="btn dropdown-toggle flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="logged_as">
                                ${loggedUser}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a click.delegate="logout()" id="logout_btn" href="#" i18n="menu.logout">Wyloguj</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="btn-group" role="group" id="lang_select_container">
                        <button type="button" class="btn dropdown-toggle flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="logged_as">
                            <span i18n="menu.language_short"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li click.delegate="changeLanguage('pl')"><a href="#">Polski</a></li>
                            <li click.delegate="changeLanguage('en')"><a href="#">English</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</template>
