<template>
    <section class="au-animate">
        <div class="container">
            <div class="row">
                <form submit.delegate="submit()" class="form-horizontal" autocomplete="off">
                    <div class="col-sm-5 black-panel">
                        <h4 i18n="boards.select_board"></h4>

                        <div class="checkbox">
                            <div class="top10">
                                <input checked.bind="onlyMine" type="checkbox" id="onlyMyBoardsCb" name="onlyMyBoards" />
                                <label for="onlyMyBoardsCb" class="checkbox-label" i18n="[append]boards.only_added_by_me">
                                    <span class="checkbox-label-span"></span>
                                </label>
                            </div>
                        </div>

                        <div class="checkbox">
                            <div class="top10">
                                <input checked.bind="iAmMember" type="checkbox" id="iAmMemberCb" name="iAmMember" />
                                <label for="iAmMemberCb" class="checkbox-label" i18n="[append]boards.only_i_am_member">
                                    <span class="checkbox-label-span"></span>
                                </label>
                            </div>
                        </div>

                        <div class="row top15">
                            <div class="col-sm-12">
                                <button id="filter" type="submit" class="btn btn-info" i18n="[prepend]btn.filter"><em class="glyphicon glyphicon-filter"></em></button>
                                <button click.delegate="refreshSearch()" id="clear" type="button" class="btn btn-default pull-right" i18n="[prepend]btn.clear"><em class="glyphicon glyphicon-remove"></em></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <a href="#/boards/add" class="btn btn-info top15" id="add_board" i18n="[prepend]boards.create"><em class="glyphicon glyphicon-plus"></em></a>
            <div repeat.for="board of boards" id="item_${board.id}" class="row black-panel list-item">
                <div class="col-sm-10">
                    <a href="#/boards/${board.id}"><h3>${board.name}</h3></a>
                    <p>${board.description}</p>
                </div>
                <div class="col-sm-2">
                    <div class="pull-right bottom5">
                        <button click.delegate="joinBoard(board.id)" if.bind="board.joinStatus == 0 || board.joinStatus == 2"
                                data-join-item-btn="${board.id}" class="btn btn-info btn-xs list-item-join-button">
                            <em class="glyphicon glyphicon-plus-sign"></em>Dołącz
                        </button>
                        <div if.bind="board.joinStatus == 3" class="join-waiting-info" i18n="boards.join_waiting_for_acceptance"></div>
                    </div>
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <button click.delegate="delete(board.id)" if.bind="board.canDelete" class="btn btn-default list-item-button delete" aria-label="...">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <a href="#boards/${board.id}/edit" if.bind="board.canEdit" class="btn btn-default list-item-button edit" aria-label="...">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                        </a>
                        <a href="#boards/${board.id}/details" if.bind="board.canDetails" class="btn btn-default list-item-button details" aria-label="...">
                            <span class="glyphicon glyphicon-search">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div if.bind="boards.length == 0">
                <h3 i18n="boards.no_boards"></h3>
            </div>
        </div>
    </section>
</template>