<template>
    <require from="../../resources/converters/dateTimeFormat"></require>
    <section class="au-animate">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 col-sm-12 black-panel top10">
                <div class="row">
                    <div class="col-md-12">
                        <h2>${name}</h2>
                        <p>${description}</p>
                        <hr />
                        <span><span i18n="boards.creator"></span>: ${owner} (${ownerEmail})</span> <br />
                        <span><span i18n="boards.created"></span>: ${creationDate | dateTimeFormat}</span><br />
                        <span if.bind="modificationDate != null"><span i18n="boards.modified"></span>: ${modificationDate | dateTimeFormat}</span>
                    </div>
                </div>
                <hr />
                <div class="row bottom10">
                    <div class="col-md-12">
                        <h4 class="col-md-12" i18n="boards.join_request_title"></h4>
                        <div repeat.for="request of joinRequests" class="col-md-12 join-request-item">
                            <div class="col-md-9">
                                <p><span class="bold">${request.candidate}</span> ${request.email} (${request.date | dateTimeFormat})</p>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <button click.delegate="acceptJoin(request.id)" class="btn btn-info btn-sm" data-toggle="tooltip" i18n="[title]boards.join_accept">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>
                                    <button click.delegate="rejectJoin(request.id)" class="btn btn-danger btn-sm" data-toggle="tooltip" i18n="[title]boards.join_reject">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div if.bind="joinRequests.length == 0">
                            <span i18n="boards.no_join_requests"></span>
                        </div>
                    </div>
                </div>

                <div class="row bottom10">
                    <div class="col-md-12">
                        <h4 class="col-md-12" i18n="boards.advanced_settings_title"></h4>
                        <div id="boardAdvancedSettings">
                            <div class="checkbox">
                                <div class="top10">
                                    <input click.delegate="isPrivateChange()" checked.bind="isPrivate" type="checkbox" id="isPrivateCb" name="isPrivate" />
                                    <label for="isPrivateCb" class="checkbox-label" i18n="[append]boards.is_private">
                                        <span class="checkbox-label-span"></span>
                                    </label>
                                    <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" i18n="[title]boards.isPrivate_tooltip"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="javascript:history.go(-1);" class="btn btn-default pull-right bottom10" i18n="[append]btn.back"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>