@{
    ViewData["Title"] = "Home Page";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="~/styles/splash.css" rel="stylesheet" />

<div aurelia-app="boot">
    <div class="splash">
        <div class="message">
            <h1>iKudo</h1>
            Online Kudo Box manager
        </div>
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
        <div>
            <a href="http://www.mwlodarz.webd.pl" target="_blank">MWlodarz</a>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
}
